body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: radial-gradient(circle at center, #242461, #02011D); 
  color: white;
  margin: 0 auto;
  align-items: center;

}