.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.sig-box {
  display: flex;
  border: 2px solid red;
  border-radius: 8px;
  padding: 60px;
  margin: 10px;
  width: 200px;
  height: 220px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
  background-color: black;
  
}
.sig-box h1{
  margin: auto;
}


.hack { background: linear-gradient(#116c16 0%, #90daa4 100%); }
.security { background: linear-gradient(#a1090e 0%, #fad0c4 100%); }
.data { background: linear-gradient(#d4e20f 0%, #e1f08b 100%); }
.web { background: linear-gradient(#4c4b4b 0%, #b7b5b5 100%); }
.game { background: linear-gradient(#e6060d 0%, #fad0c4 100%); }
.women { background: linear-gradient(#1d7bb6 0%, #9dabdd 100%); }

/* xD */
